<div class="container">	
	
    
    
<% if (url === 'create') { %>
    <h2><%- boardtype[0].title %> 작성</h2>
	<form action="/board/create_process" method="post" >
        <input type = "hidden" name="type_id" value = "<%= boardtype[0].type_id %>">
        <input type = "hidden" name="loginid" value = "<%= loginid %>">
        <input type = "hidden" name="p_id" value = "0">
		<div class="mb-3">
			<label class="form-label" for="id">제목</label> 
			<input class="form-control" type="text" name="title" style = "width:300px;" />
		</div>
        <div class="mb-3">
			<label class="form-label" for="id">작성자</label> 
			<input class="form-control" type="text" name="" value = "<%- who %> " style = "width:300px;" disabled/>
		</div>
        <div class="mb-3">
			<label class="form-label" for="id">내용</label> 
			<textarea class="form-control" name="content" style = "width:800px;height: 200px;" ></textarea>
		</div>
        <div class="mb-3">
			<label class="form-label" for="id">갱신삭제시 비밀번호</label> 
			<input class="form-control" type="text" name="password" style = "width:300px;" />
		</div>
        <button class="btn btn-outline-primary btn-sm" type="submit">생성</button>
    
        <div class="d-grid gap-2 d-md-flex justify-content-md-end">
            <a href="/board/view/<%= boardtype[0].type_id %>/<%- pNum %>"> <button type="button" class="btn btn-info me-md-2">목록</button> </a>

        </div>    

    </form>
<% } else if (url === 'read') { %>
    <form action = "/board/view/<%- board[0].type_id %>/<%- pNum %>" method="post">
    <div class="mb-3">
        <label class="form-label" for="id">제목</label> 
        <input class="form-control" type="text" name="title" value="<%- board[0].title %>" style = "width:300px;" disabled/>
    </div>
    <div class="mb-3">
        <label class="form-label" for="id">작성자</label> 
        <input class="form-control" type="text" name="" value = "<%- board[0].name %> " style = "width:300px;" disabled/>
    </div>
    <div class="mb-3">
        <label class="form-label" for="id">작성일</label> 
        <input class="form-control" type="text" name="date" value="<%- board[0].date %>" style = "width:300px;" disabled/>
    </div>
    <div class="mb-3">
        <label class="form-label" for="id">내용</label> 
        <textarea class="form-control" name="content" style = "width:800px;height: 200px;" disabled><%- board[0].content %></textarea>
    </div>

    <div class="d-grid gap-2 d-md-flex justify-content-md-end">
        <% if (reYN === 'Y' && board[0].p_id === 0 && cls === 'MNG') { %>
            <a href="/board/answer/<%= board[0].board_id %>/<%- pNum %>"> <button type="button" class="btn btn-info me-md-2">답변</button> </a>
        <% } %>
        <a href="/board/view/<%= board[0].type_id %>/<%- pNum %>"> <button type="button" class="btn btn-info me-md-2">목록</button> </a>
        
        <% if (cls === 'MNG' || (cls === 'CST' && loginid === board[0].loginid)) { %>
            <a href="/board/update/<%= board[0].board_id %>/<%= board[0].type_id %>/<%- pNum %>"> <button type="button" class="btn btn-info me-md-2">수정</button> </a>
            <a href="/board/delete_process/<%= board[0].board_id %>/<%= board[0].type_id %>/<%- pNum %>" onclick="if(confirm('정말로 삭제하시겠습니까?')==false) return false"> 
                <button type="button" class="btn btn-info me-md-2">삭제</button> </a>
        <% } %>
    </div>    
    </form>
<% } else if (url === 'update') { %>
    <h2><%- boardtype[0].title %> 수정</h2>
	<form action="/board/update_process" method="post" >
        <input type = "hidden" name="type_id" value = "<%= board[0].type_id %>">
        <input type = "hidden" name="loginid" value = "<%= loginid %>">
        <input type = "hidden" name="board_id" value = "<%= board[0].board_id %>">
        <input type = "hidden" name="pNum" value = "<%- pNum %>">
		<div class="mb-3">
			<label class="form-label" for="id">제목</label> 
			<input class="form-control" type="text" name="title" value = "<%- board[0].title %>" style = "width:300px;" />
		</div>
        <div class="mb-3">
			<label class="form-label" for="id">작성자</label> 
			<input class="form-control" type="text" name="" value = "<%- boardperson[0].name %> " style = "width:300px;" disabled/>
		</div>
        <div class="mb-3">
			<label class="form-label" for="id">내용</label> 
			<textarea class="form-control" name="content" style = "width:800px;height: 200px;" ><%- board[0].content %></textarea>
		</div>
        <% if (cls === 'MNG') { %>
        <div class="mb-3">
			<input class="form-control" type="hidden" name="password" value="<%= board[0].password %>" style = "width:300px;" />
        </div>
        <% } else { %>
        <div class="mb-3">
			<label class="form-label" for="id">갱신삭제시 비밀번호</label> 
			<input class="form-control" type="text" name="password" style = "width:300px;" />
		</div>
        <% } %>
        <button class="btn btn-outline-primary btn-sm" type="submit">수정</button>
    
        <div class="d-grid gap-2 d-md-flex justify-content-md-end">
            <a href="/board/view/<%= board[0].type_id %>/<%- pNum %>"> <button type="button" class="btn btn-info me-md-2">목록</button> </a>
        </div>    

    </form>
<% } %>
</div> 
