<!--202136049 최준혁-->
<div class="container">
    <h2>cart 테이블 수정</h2>
    <form action="/cartupdate_process" method="post" >
        <input type="hidden" name="cart_id" value="<%- cart[0].cart_id %>" />
        <div class="mb-3">
            <label class="form-label" for="id_main">고객 </label> 
                <select name="loginid" id="id_main">
                    <% for (var i = 0; i < persons.length; i++) { %>
                        <% if (cart[0].loginid == persons[i].loginid) { %>
                            <option value="<%= persons[i].loginid %>" selected>
                                <%= persons[i].name %>
                            </option>
                            <% continue; %>
                        <% } %>
                        <option value="<%= persons[i].loginid %>">
                            <%= persons[i].name %>
                        </option>
                    <% } %>
                </select>
        </div>
        <div class="mb-3">
            <label class="form-label" for="id_main">상품 </label> 
                <select name="prod_id" id="id_main">
                    <% for (var i = 0; i < products.length; i++) { %>
                        <% if (cart[0].prod_id == products[i].prod_id) { %>
                            <option value="<%= products[i].prod_id %>" selected>
                                <%= products[i].name %>
                            </option>
                            <% continue; %>
                        <% } %>
                        <option value="<%= products[i].prod_id %>">
                            <%= products[i].name %>
                        </option>
                    <% } %>
                </select>
        </div>
        <div class="mb-3">
				<label class="form-label" for="id">날짜</label> <!--시작일은 수정 불가-->
				<input class="form-control" type="text" name="date" id="date" value ="<%- cart[0].date %>" style="width:300px;" disabled/>
				<input type="hidden" name="date" id="date" value="<%- cart[0].date %>" />
		</div>
        <button class="btn btn-outline-primary btn-sm" type="submit">수정</button>
        <a href="/cartview"><button class="btn btn-outline-primary btn-sm" type="button">카트 목록 돌아가기</button></a>
    </form>
</div>
