<table class="table table-bordered ">
    <tr ><td rowspan = "6"><img src="<%=pDetail[0].image%>" style="width:300px;height:300px; "></td>
         <td><%=pDetail[0].name%></td></tr>
    <tr> <td>가격 : <%=pDetail[0].price.toLocaleString('ko-KR')%> 원</td></tr>
    <tr> <td>브랜드 : <%=pDetail[0].brand%></td></tr>
    <tr> <td>공급업체 : <%=pDetail[0].supplier%></td></tr>
        
        <% if(p === 'Y') { %>
            <tr><td>
                <a href="/purchase/detail/<%=pDetail[0].prod_id%>" ><button class="btn btn-outline-primary btn-sm" type="submit" >구매</button></a>
                <form action = "/purchase/cart_process" method="post" style = "display : inline-block">
                        <input type="hidden" value="<%=pDetail[0].prod_id%>" name="prod_id">
                        <button class="btn btn-outline-primary btn-sm" type="submit">장바구니</button>
                </form>
            </td></tr>
        <% } %> 
            
</table>